/* ---------------------------------------- */
/* Layout */
/* ---------------------------------------- */

:root {
	--max-grid-size: 32px;
	--min-grid-size: 24px;
	--max-font-size: 20px;
	--min-font-size: 12px;
	--small-scale: 0.75;
	/* Standard width is 2368px, at 75% scale will be 1776px */
	--app-full-width: calc(2304px + 2 * var(--max-grid-size));
	--app-small-width: calc(var(--app-full-width) * var(--small-scale));

	--fluid-width: clamp(var(--min-font-size), 0px + 0.6757dvw, var(--max-font-size));
	/* Standard height is 1604px, at 75% scale will be 1203px */
	--app-full-height: calc(1540px + 2 * var(--max-grid-size));
	--app-small-height: calc(var(--app-full-height) * var(--small-scale));
	--fluid-height: clamp(var(--min-font-size), 0px + 1dvh, var(--max-font-size));
}

html {
	background-color: var(--clr-background);
	font-size: max(var(--fluid-width), var(--fluid-height));
}

@media print {
	body {
		color: #000;
		background-color: #fff;
	}
}

html,
body {
	height: 100%;
}

/* ---------------------------------------- */
/* Typography */
/* ---------------------------------------- */

body {
	line-height: var(--line-height);
	font-family: var(--font-stack-serif);
	font-weight: var(--font-weight-normal);
	color: var(--clr-primary);
	letter-spacing: 0.01em;
}

h1 {
	font-size: 2.1em;
	line-height: 1.3;
	font-weight: var(--font-weight-normal);
}

h2 {
	--flow: 2em;
	font-size: 1.5em;
	line-height: 1.4;
	font-weight: var(--font-weight-normal);
}

h3,
h4 {
	--flow: 2em;
	font-size: 1em;
	line-height: 1.5;
	font-weight: var(--font-weight-bold);
}

table {
	border-collapse: collapse;
	line-height: 1.5;
	font-variant-numeric: tabular-nums;
}

tr {
	border-bottom: 1px solid var(--clr-faint-2);
}

th {
	vertical-align: bottom;
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-smaller);
	color: var(--clr-secondary);
}

td {
	vertical-align: baseline;
}

th,
td {
	padding: 6px 0.75rem 6px 0;
	text-align: left;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

blockquote {
	--flow: 2em;

	font-style: italic;
	padding: 0 calc(2 * var(--body-padding));
	margin-bottom: var(--flow);
}

strong,
.strong {
	font-weight: var(--font-weight-bold);
}

small,
.small {
	font-size: var(--font-size-smaller);
}

a,
.link {
	color: var(--clr-link);
	fill: currentColor;

	&:has(.icon) {
		display: inline-flex;
		align-items: center;
		gap: 0.33em;
	}
}

.icon {
	aspect-ratio: 1;
	display: inline-block;
	width: 1.2cap;
	height: 1.2cap;
}
