@import './tokens.css';

:root {
	--font-stack-serif:
		Cardo, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times,
		Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--font-stack-glyph: Trees, Wingdings, Webdings, Symbol, monospace;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--font-size-smaller: 0.875em;

	--line-height: 1.6;

	color-scheme: light dark;

	--clr-neutral-primary: var(--olive-12);
	--clr-neutral-secondary: color-mix(in oklch, var(--olive-11) 80%, var(--olive-12));
	--clr-neutral-border: var(--olive-10);
	--clr-neutral-background: var(--olive-1);
	--clr-neutral-surface: var(--olive-2);
	--clr-neutral-main: var(--olive-9);

	--clr-theme-primary: var(--grass-12);
	--clr-theme-secondary: var(--grass-11);
	--clr-theme-border: var(--grass-9);
	--clr-theme-background: var(--grass-3);
	--clr-theme-surface: var(--grass-4);
	--clr-theme-main: var(--grass-9);

	--clr-primary: var(--clr-neutral-primary);
	--clr-secondary: var(--clr-neutral-secondary);
	--clr-border: var(--clr-neutral-border);
	--clr-background: color-mix(
		in oklch,
		var(--clr-neutral-background) 95%,
		var(--clr-theme-background)
	);
	--clr-surface: var(--clr-neutral-surface);
	--clr-main: var(--clr-theme-main);
	--clr-link: color-mix(in oklch, var(--clr-theme-secondary) 50%, var(--clr-theme-primary));

	--major-gridline-color: color-mix(in srgb, var(--widget-divider) 33%, transparent);
	--minor-gridline-color: color-mix(in srgb, var(--widget-divider-subtle) 33%, transparent);
}

.light {
	color-scheme: light;
	.icon-moon {
		display: none !important;
	}
}

.dark {
	color-scheme: dark;
	.icon-sun {
		display: none !important;
	}
}

@media (prefers-color-scheme: dark) {
	html:not(.light) {
		& .icon-sun {
			display: none !important;
		}
	}
}

.themed {
	--clr-primary: var(--clr-theme-primary);
	--clr-secondary: var(--clr-theme-secondary);
	--clr-border: var(--clr-theme-border);
	--clr-background: var(--clr-theme-background);
	--clr-surface: var(--clr-theme-surface);
}

.portfolio-widget {
	& * {
		transition:
			fill 0.2s ease-in-out,
			stroke 0.2s ease-in-out;
	}

	.fill-primary {
		fill: var(--widget-primary);
	}
	.fill-secondary {
		fill: var(--widget-secondary);
	}
	.fill-hint {
		fill: var(--widget-hint);
	}
	.fill-ghost {
		fill: var(--widget-ghost);
	}
	.fill-accent {
		fill: var(--widget-accent);
	}
	.fill-symbol {
		fill: var(--widget-symbol);
	}
	.fill-background {
		fill: var(--widget-background);
	}
	.fill-container {
		fill: var(--widget-container);
	}
	.fill-component {
		fill: var(--widget-component);
	}
	.fill-tint {
		fill: var(--widget-tint);
	}
	.fill-tone {
		fill: var(--widget-tone);
	}
	.fill-paint {
		fill: var(--widget-paint);
	}
	.fill-darken {
		fill: var(--widget-darken);
	}
	.fill-transparent {
		fill: var(--widget-transparent);
	}
	.stroke-shadow {
		stroke: var(--widget-shadow);
	}
	.stroke-divider {
		stroke: var(--widget-divider);
	}
	.fill-divider {
		fill: var(--widget-divider);
	}
	.stroke-divider-subtle {
		stroke: var(--widget-divider-subtle);
	}
	.fill-divider-subtle {
		fill: var(--widget-divider-subtle);
	}
	.stroke-border {
		stroke: var(--widget-border);
	}
	.fill-border {
		fill: var(--widget-border);
	}
	.stroke-border-active {
		stroke: var(--widget-border-active);
	}
	.fill-border-active {
		fill: var(--widget-border-active);
	}
	.stroke-border-shadow {
		stroke: var(--widget-border-shadow);
	}
	.stroke-ring {
		stroke: var(--widget-ring);
	}
	.fill-ring {
		fill: var(--widget-ring);
	}
	.stroke-main {
		stroke: var(--widget-main);
	}
	.fill-main {
		fill: var(--widget-main);
	}
	.stroke-main-contrast {
		stroke: var(--widget-main-contrast);
	}
	.fill-main-contrast {
		fill: var(--widget-main-contrast);
	}
	.stroke-theme {
		stroke: var(--widget-theme);
	}
	.fill-theme {
		fill: var(--widget-theme);
	}
	.stroke-theme-text {
		stroke: var(--widget-theme-text);
	}
	.fill-theme-text {
		fill: var(--widget-theme-text);
	}

	&:hover {
		.fill-primary {
			fill: var(--grass-12);
		}
		.fill-secondary {
			fill: var(--grass-11);
		}
		.fill-hint {
			fill: var(--grass-10);
		}
		.fill-ghost {
			fill: var(--grass-9);
		}
		.fill-accent {
			fill: var(--grass-11);
		}
		.fill-symbol {
			fill: var(--grass-11);
		}
		.fill-background {
			fill: var(--grass-1);
		}
		.fill-container {
			fill: var(--grass-2);
		}
		.fill-component {
			fill: var(--grass-3);
		}
		.fill-tint {
			fill: var(--grass-a2);
		}
		.fill-tone {
			fill: var(--grass-a3);
		}
		.fill-paint {
			fill: var(--grass-a4);
		}
		.fill-darken {
			fill: var(--widget-darken);
		}
		.fill-transparent {
			fill: var(--widget-transparent);
		}
		.stroke-shadow {
			stroke: var(--widget-shadow);
		}
		.stroke-divider {
			stroke: var(--grass-5);
		}
		.fill-divider {
			fill: var(--grass-5);
		}
		.stroke-divider-subtle {
			stroke: var(--grass-4);
		}
		.fill-divider-subtle {
			fill: var(--grass-4);
		}
		.stroke-border {
			stroke: var(--grass-6);
		}
		.fill-border {
			fill: var(--grass-6);
		}
		.stroke-border-active {
			stroke: var(--grass-8);
		}
		.fill-border-active {
			fill: var(--grass-8);
		}
		.stroke-border-shadow {
			stroke: var(--widget-border-shadow);
		}
		.stroke-ring {
			stroke: var(--grass-9);
		}
		.fill-ring {
			fill: var(--grass-9);
		}
		.stroke-main {
			stroke: var(--grass-9);
		}
		.fill-main {
			fill: var(--grass-9);
		}
		.stroke-main-contrast {
			stroke: var(--widget-main-contrast);
		}
		.fill-main-contrast {
			fill: var(--widget-main-contrast);
		}
		.stroke-theme {
			stroke: var(--grass-9);
		}
		.fill-theme {
			fill: var(--grass-9);
		}
		.stroke-theme-text {
			stroke: var(--grass-11);
		}
		.fill-theme-text {
			fill: var(--grass-11);
		}
	}
}
