:root {
	/* Grass colors - standard */
	--grass-1: light-dark(#fbfefb, #0e1511);
	--grass-2: light-dark(#f5fbf5, #141a15);
	--grass-3: light-dark(#e9f6e9, #1b2a1e);
	--grass-4: light-dark(#daf1db, #1d3a24);
	--grass-5: light-dark(#c9e8ca, #25482d);
	--grass-6: light-dark(#b2ddb5, #2d5736);
	--grass-7: light-dark(#94ce9a, #366740);
	--grass-8: light-dark(#65ba74, #3e7949);
	--grass-9: light-dark(#46a758, #46a758);
	--grass-10: light-dark(#3e9b4f, #53b365);
	--grass-11: light-dark(#2a7e3b, #71d083);
	--grass-12: light-dark(#203c25, #c2f0c2);

	/* Grass alpha colors - standard */
	--grass-a1: light-dark(#00c00004, #00de1205);
	--grass-a2: light-dark(#0099000a, #5ef7780a);
	--grass-a3: light-dark(#00970016, #70fe8c1b);
	--grass-a4: light-dark(#009f0725, #57ff802c);
	--grass-a5: light-dark(#00930536, #68ff8b3b);
	--grass-a6: light-dark(#008f0a4d, #71ff8f4b);
	--grass-a7: light-dark(#018b0f6b, #77fd925d);
	--grass-a8: light-dark(#008d199a, #77fd9070);
	--grass-a9: light-dark(#008619b9, #65ff82a1);
	--grass-a10: light-dark(#007b17c1, #72ff8dae);
	--grass-a11: light-dark(#006514d5, #89ff9fcd);
	--grass-a12: light-dark(#002006df, #ceffceef);

	/* Olive colors - standard */
	--olive-1: light-dark(#fcfdfc, #111210);
	--olive-2: light-dark(#f8faf8, #181917);
	--olive-3: light-dark(#eff1ef, #212220);
	--olive-4: light-dark(#e7e9e7, #282a27);
	--olive-5: light-dark(#dfe2df, #2f312e);
	--olive-6: light-dark(#d7dad7, #383a36);
	--olive-7: light-dark(#cccfcc, #454843);
	--olive-8: light-dark(#b9bcb8, #5c625b);
	--olive-9: light-dark(#898e87, #687066);
	--olive-10: light-dark(#7f847d, #767d74);
	--olive-11: light-dark(#60655f, #afb5ad);
	--olive-12: light-dark(#1d211c, #eceeec);

	/* Olive alpha colors - standard */
	--olive-a1: light-dark(#00550003, #00000000);
	--olive-a2: light-dark(#00490007, #f1f2f008);
	--olive-a3: light-dark(#00200010, #f4f5f312);
	--olive-a4: light-dark(#00160018, #f3fef21a);
	--olive-a5: light-dark(#00180020, #f2fbf122);
	--olive-a6: light-dark(#00140028, #f4faed2c);
	--olive-a7: light-dark(#000f0033, #f2fced3b);
	--olive-a8: light-dark(#040f0047, #edfdeb57);
	--olive-a9: light-dark(#050f0078, #ebfde766);
	--olive-a10: light-dark(#040e0082, #f0fdec74);
	--olive-a11: light-dark(#020a00a0, #f6fef4b0);
	--olive-a12: light-dark(#010600e3, #fdfffded);

	/* Portfolio widget colors */
	--widget-primary: light-dark(#1d211c, #eef0ee);
	--widget-secondary: light-dark(#686e67, #a9ada8);
	--widget-hint: light-dark(#8d918c, #767d74);
	--widget-ghost: light-dark(#b0b3af, #5c625b);
	--widget-accent: light-dark(#464d45, #cad4c7);
	--widget-symbol: light-dark(#717a6d, #899187);
	--widget-background: light-dark(#f8faf8, #111210);
	--widget-container: light-dark(#fcfdfc, #181917);
	--widget-component: light-dark(#f5f7f5, #212220);
	--widget-tint: light-dark(hsla(120, 100%, 14%, 0.0275), hsla(90, 7%, 95%, 0.0314));
	--widget-tone: light-dark(hsla(120, 100%, 6%, 0.0627), hsla(90, 9%, 96%, 0.0706));
	--widget-paint: light-dark(hsla(120, 100%, 5%, 0.1255), hsla(114, 56%, 96%, 0.1333));
	--widget-darken: light-dark(hsla(0, 0%, 0%, 0.04), hsla(0, 0%, 0%, 0.5));
	--widget-transparent: light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 0%, 0));
	--widget-divider: light-dark(#d7dad7, #333632);
	--widget-divider-subtle: light-dark(#e7ebe7, #272926);
	--widget-border: light-dark(#cccfcc, #383a36);
	--widget-border-active: light-dark(#babdba, #474a45);
	--widget-border-shadow: light-dark(hsla(0, 0%, 0%, 0.12), hsla(0, 0%, 0%, 0.5));
	--widget-ring: light-dark(#a5a8a3, #5c625b);
	--widget-main: light-dark(#898e87, #4c524a);
	--widget-main-contrast: light-dark(#fff, #ffffff);
	--widget-theme: light-dark(#46a758, #46a758);
	--widget-theme-text: light-dark(#2a7e3b, #87e098);
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		:root {
			/* Grass colors - P3 */
			--grass-1: light-dark(
				color(display-p3 0.986 0.996 0.985),
				color(display-p3 0.062 0.083 0.067)
			);
			--grass-2: light-dark(
				color(display-p3 0.966 0.983 0.964),
				color(display-p3 0.083 0.103 0.085)
			);
			--grass-3: light-dark(
				color(display-p3 0.923 0.965 0.917),
				color(display-p3 0.118 0.163 0.122)
			);
			--grass-4: light-dark(color(display-p3 0.872 0.94 0.865), color(display-p3 0.142 0.225 0.15));
			--grass-5: light-dark(
				color(display-p3 0.811 0.908 0.802),
				color(display-p3 0.178 0.279 0.186)
			);
			--grass-6: light-dark(
				color(display-p3 0.733 0.864 0.724),
				color(display-p3 0.217 0.337 0.224)
			);
			--grass-7: light-dark(color(display-p3 0.628 0.803 0.622), color(display-p3 0.258 0.4 0.264));
			--grass-8: light-dark(color(display-p3 0.477 0.72 0.482), color(display-p3 0.302 0.47 0.305));
			--grass-9: light-dark(color(display-p3 0.38 0.647 0.378), color(display-p3 0.38 0.647 0.378));
			--grass-10: light-dark(
				color(display-p3 0.344 0.598 0.342),
				color(display-p3 0.426 0.694 0.426)
			);
			--grass-11: light-dark(
				color(display-p3 0.263 0.488 0.261),
				color(display-p3 0.535 0.807 0.542)
			);
			--grass-12: light-dark(
				color(display-p3 0.151 0.233 0.153),
				color(display-p3 0.797 0.936 0.776)
			);

			/* Grass alpha colors - P3 */
			--grass-a1: light-dark(
				color(display-p3 0.024 0.757 0.024 / 0.016),
				color(display-p3 0 0.992 0.071 / 0.017)
			);
			--grass-a2: light-dark(
				color(display-p3 0.024 0.565 0.024 / 0.036),
				color(display-p3 0.482 0.996 0.584 / 0.038)
			);
			--grass-a3: light-dark(
				color(display-p3 0.059 0.576 0.008 / 0.083),
				color(display-p3 0.549 0.992 0.588 / 0.106)
			);
			--grass-a4: light-dark(
				color(display-p3 0.035 0.565 0.008 / 0.134),
				color(display-p3 0.51 0.996 0.557 / 0.169)
			);
			--grass-a5: light-dark(
				color(display-p3 0.047 0.545 0.008 / 0.197),
				color(display-p3 0.553 1 0.588 / 0.227)
			);
			--grass-a6: light-dark(
				color(display-p3 0.031 0.502 0.004 / 0.275),
				color(display-p3 0.584 1 0.608 / 0.29)
			);
			--grass-a7: light-dark(
				color(display-p3 0.012 0.482 0.004 / 0.377),
				color(display-p3 0.604 1 0.616 / 0.358)
			);
			--grass-a8: light-dark(
				color(display-p3 0 0.467 0.008 / 0.522),
				color(display-p3 0.608 1 0.62 / 0.433)
			);
			--grass-a9: light-dark(
				color(display-p3 0.008 0.435 0 / 0.624),
				color(display-p3 0.573 1 0.569 / 0.622)
			);
			--grass-a10: light-dark(
				color(display-p3 0.008 0.388 0 / 0.659),
				color(display-p3 0.6 0.996 0.6 / 0.673)
			);
			--grass-a11: light-dark(
				color(display-p3 0.263 0.488 0.261),
				color(display-p3 0.535 0.807 0.542)
			);
			--grass-a12: light-dark(
				color(display-p3 0.151 0.233 0.153),
				color(display-p3 0.797 0.936 0.776)
			);

			/* Olive colors - P3 */
			--olive-1: light-dark(
				color(display-p3 0.989 0.992 0.989),
				color(display-p3 0.067 0.07 0.063)
			);
			--olive-2: light-dark(
				color(display-p3 0.974 0.98 0.973),
				color(display-p3 0.095 0.098 0.091)
			);
			--olive-3: light-dark(
				color(display-p3 0.939 0.945 0.937),
				color(display-p3 0.131 0.135 0.126)
			);
			--olive-4: light-dark(
				color(display-p3 0.907 0.914 0.905),
				color(display-p3 0.158 0.163 0.153)
			);
			--olive-5: light-dark(
				color(display-p3 0.878 0.885 0.875),
				color(display-p3 0.186 0.192 0.18)
			);
			--olive-6: light-dark(
				color(display-p3 0.846 0.855 0.843),
				color(display-p3 0.221 0.229 0.215)
			);
			--olive-7: light-dark(color(display-p3 0.803 0.812 0.8), color(display-p3 0.273 0.284 0.266));
			--olive-8: light-dark(
				color(display-p3 0.727 0.738 0.723),
				color(display-p3 0.365 0.382 0.359)
			);
			--olive-9: light-dark(
				color(display-p3 0.541 0.556 0.532),
				color(display-p3 0.414 0.438 0.404)
			);
			--olive-10: light-dark(color(display-p3 0.5 0.515 0.491), color(display-p3 0.467 0.49 0.458));
			--olive-11: light-dark(
				color(display-p3 0.38 0.395 0.374),
				color(display-p3 0.69 0.709 0.682)
			);
			--olive-12: light-dark(
				color(display-p3 0.117 0.129 0.111),
				color(display-p3 0.927 0.933 0.926)
			);

			/* Olive alpha colors - P3 */
			--olive-a1: light-dark(
				color(display-p3 0.024 0.349 0.024 / 0.012),
				color(display-p3 0 0 0 / 0)
			);
			--olive-a2: light-dark(
				color(display-p3 0.024 0.302 0.024 / 0.028),
				color(display-p3 0.984 0.988 0.976 / 0.03)
			);
			--olive-a3: light-dark(
				color(display-p3 0.008 0.129 0.008 / 0.063),
				color(display-p3 0.992 0.996 0.988 / 0.068)
			);
			--olive-a4: light-dark(
				color(display-p3 0.012 0.094 0.012 / 0.095),
				color(display-p3 0.953 0.996 0.949 / 0.102)
			);
			--olive-a5: light-dark(
				color(display-p3 0.035 0.098 0.008 / 0.126),
				color(display-p3 0.969 1 0.965 / 0.131)
			);
			--olive-a6: light-dark(
				color(display-p3 0.027 0.078 0.004 / 0.157),
				color(display-p3 0.973 1 0.969 / 0.169)
			);
			--olive-a7: light-dark(
				color(display-p3 0.02 0.059 0 / 0.2),
				color(display-p3 0.98 1 0.961 / 0.228)
			);
			--olive-a8: light-dark(
				color(display-p3 0.02 0.059 0.004 / 0.279),
				color(display-p3 0.961 1 0.957 / 0.334)
			);
			--olive-a9: light-dark(
				color(display-p3 0.02 0.051 0.004 / 0.467),
				color(display-p3 0.949 1 0.922 / 0.397)
			);
			--olive-a10: light-dark(
				color(display-p3 0.024 0.047 0 / 0.51),
				color(display-p3 0.953 1 0.941 / 0.452)
			);
			--olive-a11: light-dark(
				color(display-p3 0.012 0.039 0 / 0.628),
				color(display-p3 0.976 1 0.965 / 0.688)
			);
			--olive-a12: light-dark(
				color(display-p3 0.008 0.024 0 / 0.891),
				color(display-p3 0.992 1 0.992 / 0.929)
			);
		}
	}
}
